.flexbox {
    display: flex;
    justify-content: start;
    gap: 190px;
    flex-wrap: wrap;
    width: 100%;
}

.listBox {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0px;


}

@media only screen and (max-width:1200px) {
    .listBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:861px) {
    .flexbox {
        flex-direction: column;
    }


}