.formContainer {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.loginForm {
    margin: 100px;
    border: 1px solid #95c095;

    border-radius: 20px;
    width: 500px;

    padding: 30px;
}

.green {

    background-color: rgb(0, 161, 0);
    border-radius: 20px;
    color: white;
    /* width: 150px; */

}

.signInAs {
    color: rgb(0, 148, 0);
    text-decoration: none;
}

.signInAs:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 233, 0);
}

@media only screen and (max-width:576px) {
    .loginForm {
        margin: 100px 30px;
        width: 400px;
    }
}