<div class="navbar">

    <div class="navlinks">
        <a class="btn " (click)="onYourEvents()">Your Events</a>
        <a class="btn " (click)="onUpcomingEvents()">Upcoming events</a>
    </div>

</div>
<div class="container">

    <div class=" parentbox">


        <div *ngIf="yourEvents" class="row   my-2 py-4 flex-wrap  listBox">

            @for(event of userEvents();track event){


            <app-event [eventName]="event['eventName']" [date]="event['eventDate']" [startTime]="event['startTime']"
                [endTime]="event['endTime']" [seats]="event['seats']" [eventId]="event['_id']" [showJoinButton]=false
                [showRemoveButton]=true></app-event>
            }
            @empty{
            <p>No events to show.</p>
            }

        </div>


        <div *ngIf="upcomingEvents" class="row   my-2 py-4 flex-wrap  listBox">
            @for(event of OrgEvents();track event){

            <app-event [eventName]="event['eventName']" [date]="event['eventDate']" [startTime]="event['startTime']"
                [endTime]="event['endTime']" [seats]="event['seats']" [eventId]="event['_id']"
                [showJoinButton]=true></app-event>
            }
            @empty{
            <p>No upcoming events to show.</p>
            }
        </div>
    </div>
</div>



<app-test></app-test>