.flexboxColumn {
    flex-direction: column;
    gap: 20px;
}

.eventsbtn {
    border-radius: 0px;
    padding: 0px 25px;
}

.eventsbtn.active {
    background-color: aqua;
}

.green {

    background-color: rgb(0, 161, 0);
    border-radius: 20px;
    color: white;
    /* width: 150px; */

}





.navlinks a {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: rgb(10, 77, 10);
}

.navlinks a:hover {
    color: rgb(61, 194, 61);
}

.navlinks a:link {

    /* background-color: rgb(0, 161, 0); */
    font-size: 20px;
    color: rgb(81, 224, 81);
}






@media only screen and (max-width:576px) {
    .phoneNavbar {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
    }
}